@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

/* In your custom.css */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/aldrich-regular.woff2') format('woff2');
}

.site-title {
  font-family: 'Aldrich', sans-serif !important;
}

/* Customize scroll-to-top button */
.scroll-to-top-button {
  @apply !w-7 !h-7 !bg-[#6aa4b4] !rounded-lg !border-none;
}

.scroll-to-top-button:hover {
  @apply !bg-[#a5eeef];
}

.scroll-to-top-button svg {
  @apply !w-5 !h-5;
}