@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Pepr Brand Colors */
  --color-midBlue: #6aa4b4;
  --color-ltBlue: #a5eeef;
  --color-ltPink: #d14667;
  --color-dkPink: #871a41;
  --color-ltGold: #efca81;
  --color-dkGold: #be9853;
  /* Generated accent color palettes. */
  --color-accent-200: #b3cfcf;
  --color-accent-600: #017879;
  --color-accent-900: #113939;
  --color-accent-950: #112828;
  /* Generated background color palettes. */
  --color-gray-100: #f4f7f9;
  --color-gray-200: #e9eff3;
  --color-gray-300: #bcc3c8;
  --color-gray-400: #808e97;
  --color-gray-500: #4d5a62;
  --color-gray-700: #2e3a42;
  --color-gray-800: #1d2830;
  --color-gray-900: #14191c;
}

.site-title {
  @apply text-2xl;
  font-family: "Aldrich", sans-serif;
}

/* Version banner */
p.astro-wh6mpa6d {
  white-space: normal !important;
  text-wrap: balance !important;
  margin-right: 1.5rem !important;
}

/* h1 page title */
.sl-container > h1 {
  line-height: 1.2;
  margin-right: 1.5rem;
  word-break: keep-all;
  overflow-wrap: normal;
}

.contextual-menu-container {
  flex-shrink: 0;
}

/* Responsive adjustments for page h1, version banner and contextual menu */
@media (max-width: 50rem) {
  .sl-container > h1 {
    font-size: 1.75rem;
  }

  .contextual-menu-container {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }

  .contextual-main-action span {
    display: none;
  }
}

/* Cookie Consent Custom Colors - Light Mode */
#cc-main {
  --cc-bg: var(--color-gray-200);
  --cc-primary-color: var(--color-gray-900);
  --cc-secondary-color: var(--color-gray-700);
  --cc-btn-primary-bg: var(--color-accent-200);
  --cc-btn-primary-color: var(--color-gray-900);
  --cc-btn-primary-hover-bg: var(--color-accent-600);
  --cc-btn-secondary-bg: var(--color-gray-100);
  --cc-btn-secondary-color: var(--color-gray-900);
  --cc-btn-secondary-hover-bg: var(--color-gray-300);
  --cc-separator-border-color: var(--color-gray-300);
  --cc-cookie-category-block-bg: var(--color-accent-200);
  --cc-cookie-category-block-hover-bg: var(--color-gray-300);
  --cc-toggle-on-bg: var(--color-accent-600);
}

/* Cookie Consent Custom Colors - Dark Mode */
[data-theme="dark"] #cc-main {
  --cc-bg: var(--color-gray-700);
  --cc-primary-color: var(--color-gray-100);
  --cc-secondary-color: var(--color-gray-200);
  --cc-btn-primary-bg: var(--color-accent-600);
  --cc-btn-primary-color: var(--color-gray-100);
  --cc-btn-primary-border-color: var(--color-accent-600);
  --cc-btn-primary-hover-border-color: var(--color-accent-900);
  --cc-btn-primary-hover-bg: var(--color-accent-900);
  --cc-btn-primary-hover-color: var(--color-gray-200);
  --cc-btn-secondary-bg: var(--color-gray-500);
  --cc-btn-secondary-color: var(--color-gray-200);
  --cc-btn-secondary-border-color: var(--color-gray-500);
  --cc-btn-secondary-hover-border-color: var(--color-gray-800);
  --cc-btn-secondary-hover-bg: var(--color-gray-800);
  --cc-btn-secondary-hover-color: var(--color-gray-200);
  --cc-separator-border-color: var(--color-gray-700);
  --cc-cookie-category-block-bg: var(--color-gray-500);
  --cc-cookie-category-block-hover-bg: var(--color-gray-800);
  --cc-toggle-readonly-bg: var(--color-accent-600);
  --cc-cookie-category-block-border: none;
}
