name: docs
run-name: docs

# declare default permissions
permissions: read-all

on:
  # enable manual run via GitHub UI
  workflow_dispatch:

  # enable trigger via remote call webhook
  repository_dispatch:
    types: update-docs

  # enable run on "standard" updates to main branch
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

env:
  CORE: ./core
  DOCS: ./docs
  DIST: ./docs/dist
  SITE: ./docs/src/content/docs
  TMP: ./docs/tmp

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          repository: defenseunicorns/pepr
          path: ${{ env.CORE }}
          fetch-depth: 0 # pull history to get version tags

      - uses: actions/checkout@v4
        with:
          repository: defenseunicorns/pepr-docs
          path: ${{ env.DOCS }}

      - name: Build the docs
        run: |
          CORE=$(realpath ${{ env.CORE }})
          cd ${{ env.DOCS }}
          npm ci
          CORE="$CORE" npm run build

      - name: Upload Artifacts
        if: github.ref_name == 'main'
        uses: actions/upload-artifact@v4
        with:
          name: dist
          retention-days: 1
          path: ${{ env.DIST }}

  deploy:
    if: github.ref_name == 'main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          repository: defenseunicorns/pepr-docs
          ref: deploy
          path: ${{ env.DOCS }}

      - name: Clear previously deployed content!
        run: |
          cd "$DOCS"
          rm -rf dist

      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: ${{ env.DIST }}

      - name: Deploy the docs!
        run: |
          BRANCH=deploy

          cd "$DOCS"
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

          git add --all
          git add --force dist/
          if ! git diff-index --quiet HEAD; then
            git commit -m "Auto-deploy docs"
            git push origin "$BRANCH"
          fi
