name: Link Check
run-name: Link Check

permissions: read-all

on:
  workflow_dispatch:

  pull_request:
    branches: ["main"]

env:
  CORE: ./core
  DOCS: ./docs

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: defenseunicorns/pepr
          path: ${{ env.CORE }}
          fetch-depth: 0

      - uses: actions/checkout@v4
        with:
          repository: defenseunicorns/pepr-docs
          path: ${{ env.DOCS }}

      - name: Build the docs
        run: |
          cd ${{ env.DOCS }}
          npm ci
          npm run build
        env:
          CORE: ${{ env.CORE }}

      - name: Run link validation
        run: "$DOCS/.github/workflows/scripts/linkcheck.sh"

      - name: Upload broken links report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: broken-links-report
          path: ${{ env.DOCS }}/broken-links-report-*.json
          if-no-files-found: ignore
